@import "../scss/variables";

.Header{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: $hdrTxtClr;
        &-svg{
            height: 78vh;
            position: absolute;
            left: 4rem;
            top: 8rem;
        }
}