@import "../scss/variables";

.HeaderBox{
    border: solid 1px transparent;
    border-radius: 8px;
    display: flex;
    background-color: $hdrBoxClr;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 15rem;
    min-width: 15rem;
    max-width: 25rem;
        &-txt{
            padding: 1.1rem;
            font-size: 1.5rem;
            color: $hdrTxtClr;
            font-weight: 600;
            text-transform: uppercase;
        }
}