.LoggedUserPage{
    position: absolute;
    top: 0;
    margin-top: 10rem;
    //margin-bottom: 50%;
    &-calc{
        //margin-top: -2rem;
        position: fixed;
    }
    &-btnWrapper{
        position: absolute;
        top: 60vh;
        left: 50vw;
    }
}