.OptionBox{
    border: solid 1px transparent;
    cursor: pointer;
    height: 13rem;
    width: 15rem;
        &:hover{
            border-radius: 10px;
            background-color: rgba(183, 204, 171, .9);
            font-size: 1.2rem;
        }
        &-txt{
            position: relative;
            top: -10rem;
            text-align: center;
            text-transform: uppercase;
            background-color: rgba(245, 245, 220, .8);
            box-sizing: border-box;
            border-radius: 8px;
            padding: 1.3rem;
            font-weight: 600;
            color: #184c48;
        }
        &-img{
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 1rem;
        }
        
}