@import "./scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html,
body{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  background-color: $bgrClr;
  //margin-bottom: -4rem;
  font-family: 'Prompt', sans-serif;
  position: relative;
  min-height: 100vh;
}

.App{
  padding-bottom: 4rem;
  height: 100%;
  @media (max-width: 840px){
    padding-bottom: 5.5rem;
  }
}

.Link{
  &:link,
  &:active,
  &:visited{
    color: white;
    text-decoration: none;
  }
}

.hidden{
  display: none;
}

.row{
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
  justify-content: center;
}