//colors:
$bgrClr: #d9ecf2;
$navbarClr: #43658b;
$ftrClr: rgba(255, 255, 255, .8);
$hdrBoxClr: rgba(255, 255, 255, .7);
$loginFmClr: rgba(255, 255, 255, .94);
$optionBoxClrHv: rgba(217, 236, 242, 1);

$hdrTxtClr: #03506f;
$ftrTxtClr: #0a043c;
$optionBoxTxtClr: rgba(205, 218, 222, .8);
