.Login{
    &-wrapper{
        position: absolute;
    }
    &-svg{
        height: 30vh;
        position: relative;
        top: 2rem;
        left: -13rem;
        z-index: 1;
        @media (max-width: 666px){
            left: 0;
            top: 0;
        }
    }
}