.Footer{
    width: 100vw;
    height: 4rem;
    background-color: #143f3a;
    bottom: 0;
    position: absolute;
    margin-bottom: calc(100vh-4rem);
    text-align: center;
    color: #65a099;
    padding: 1rem;
    box-sizing: border-box;
        &-link{
            transition: all .4s;
            font-size: .8rem;
            &:link,
            &:active,
            &:visited{
                color: #42a59a;
                text-decoration: none;
            }
            &:hover{
                color: lighten(#42a59a, 40%);
            }
        }
}