@import "../scss/variables";

.Footer{
    width: 100vw;
    min-height: 4rem;
    margin-top: -4rem;
    background-color: $ftrClr;
    bottom: 0;
    clear: both;
    position: absolute;
    //margin-bottom: calc(100vh-4rem);
    //margin-top: 4rem;
    text-align: center;
    color: $ftrTxtClr;
    padding: 1rem;
    box-sizing: border-box;
    @media (max-width: 840px){
        height: 5.5rem;
    }
        &-link{
            transition: all .4s;
            font-size: .8rem;
            @media (max-width: 375px){
                font-size: .5rem;
            }
            &:link,
            &:active,
            &:visited{
                color: $ftrTxtClr;
                text-decoration: none;
            }
            &:hover{
                color: lighten($ftrTxtClr, 20%);
            }
        }
        &-github{
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
}